<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="simplelayout.css">
</head>
<body>
<div id="top">
    <ul id="menu">
        <li class="menuItem"><a href="">Home</a></li>
        <li class="menuItem"><a href="">Sports & Hobbies</a></li>
        <li class="menuItem"><a href="">Study</a></li>
        <li class="menuItem">Some Text</li>
    </ul>
</div>

<div id="container">
    <div id="right">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ea eaque facere iste nihil provident quisquam
            repellat sunt vitae voluptas! Aliquid dicta dignissimos distinctio doloremque iusto, nam perferendis quos
            sapiente.</p>
    </div>
    <div id="left">
        <h4>Left Div</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi consequuntur, dolorem ea explicabo fuga
            iusto magni molestias possimus quaerat quibusdam soluta suscipit temporibus? Eveniet fuga labore minima vel
            voluptates.</div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam architecto, consequatur deleniti
        dignissimos eligendi et, exercitationem maiores minus mollitia natus pariatur perferendis porro quis
        reprehenderit sit tempore ullam. Quam.</p>
</div>

<h3 id="h3">Footer Content</h3>
</body>
</html>