<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="layouts.css">
</head>
<body>
<div id="container">
    <div id="top">
        <ul>
            <li><a href="">Test</a></li>
            <li><a href="">Hello</a></li>
            <li><a href="">ABC</a></li>
        </ul>
    </div>
    <div id="left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid laudantium tempore? Atque culpa doloribus incidunt modi ratione, recusandae rem? Accusamus deserunt iure, laboriosam neque odio praesentium quaerat ratione soluta.
    </div>
    <div id="content">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aperiam architecto, assumenda,
            cumque doloremque fuga fugiat fugit ipsam iste nesciunt nihil officiis possimus provident, quisquam repellat
            rerum sed vitae.</p>
        <p>Adipisci, cupiditate dolore. Deserunt eveniet ipsa nulla officiis qui! Accusantium aliquid commodi
            consequuntur delectus, est iure iusto magnam modi nihil odio provident quidem quod quos, sapiente sit
            temporibus voluptas. Eveniet!</p>
        <p>A aut corporis cumque debitis dolores ducimus eaque esse fuga, id incidunt laudantium mollitia nemo neque
            nesciunt nulla perferendis possimus provident quas quibusdam recusandae suscipit unde ut vitae voluptas
            voluptatem!</p>
    </div>
    <div id="footer">

        footers
    </div>
</div>
</body>
</html>