<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="layouts.css">
</head>
<body>
<div id="top">

	<p id="topText">facebook</p>
	<h1>logo</h1>
</div>
<div id="center">
	<h1>Layout Firs hglhg ukh hg ukght</h1>
</div>
<div id="content">
	Content Goes Here
	<div class="col">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aut culpa cupiditate dignissimos dolorum
			eos ex expedita fugiat illum nemo officia perferendis placeat quod rerum, sequi ullam unde ut.</p>
	</div>
	<div class="col">
		<p>Ab architecto cum deserunt dignissimos dolorum ea esse facere, impedit incidunt ipsa ipsam itaque modi, nihil
			nobis odio pariatur provident quae quidem quod repellat, sapiente sed velit. Non recusandae, similique.</p>
	</div>
	<div class="col">
		<p>Adipisci assumenda, consectetur corporis cum dolorum ducimus eligendi et ex id illo incidunt magni maxime
			natus neque nesciunt nostrum obcaecati provident quos reiciendis rerum sequi temporibus vitae? Doloremque
			iste, quas.</p>
	</div>
</div>
</body>
</html>